<mat-card>
  <mat-card-header>
    <mat-card-title>School Project</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>The fight for independence of independent India</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Fight</button>
  </mat-card-actions>
</mat-card>
<div class="legacy-container">
  
  <mat-card class="legacy-card">
    <mat-card-header>
      <mat-card-title>Angular Material (v16)</mat-card-title>
      <mat-card-subtitle>Demonstrating legacy components.</mat-card-subtitle>
    </mat-card-header>

  </mat-card>
</div>