<mat-card>
  <mat-card-header>
    <mat-card-title>School Project</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>The fight for independence of independent India</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Fight</button>
  </mat-card-actions>
</mat-card>
<div class="legacy-container">
  
  <mat-card class="legacy-card">
    <mat-card-header>
      <mat-card-title>Angular Material (v16)</mat-card-title>
      <mat-card-subtitle>Demonstrating legacy components.</mat-card-subtitle>
    </mat-card-header>

  </mat-card>
</div>
<div class="dashboard-container">
  
  <mat-card *ngIf="userData; else loading">
    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
      <mat-card-subtitle>{{ userData.role }}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>Welcome back, {{ userData.name }}!</p>
      
      <button mat-raised-button color="primary">Edit Profile</button>
    </mat-card-content>
  </mat-card>

  <ng-template #loading>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
  </ng-template>

</div>

<div class="chart-container">
      <h2>User Growth (Analytics)</h2>
      <canvas baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="'line'">
      </canvas>
    </div>

    <h3>Candidate Skills</h3>

<div class="app-chip-list">
  <span *ngFor="let skill of skills" class="app-chip app-chip-primary app-chip-selected">
    {{ skill }}
  </span>
</div>